/* Variables */
:root {
    --star-container-horizontal-alignment: 134px;
    --color-left: #FF6A66;
    --color-right: #9cce00;
}

/* Fonts */
@font-face {
    font-family: "Bubble Candy";
    font-weight: 400;
    src: url("../fonts/BubbleCandy-Regular.otf")
}

/* Whole Page */
.main {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    background-image: url("static/background.png");
}

/* Team Name */
.team-name {
    position: absolute;
    top: 20px;
    font-family: "Bubble Candy";
    font-size: 4.5em;
    letter-spacing: -1px;
}
.team-name-left {
    left: 80px;
    color: var(--color-left);
}
.team-name-right { 
    right: 105px;
    color: var(--color-right);
}

/* Star Container */
.star-container {
    position: absolute;
    top: 95px;
    display: flex;
    gap: 22px;
}
.star-container-left { left: var(--star-container-horizontal-alignment); }
.star-container-right { right: var(--star-container-horizontal-alignment); }

/* Now Playing */
.now-playing {
    position: absolute;
    bottom: 1px;
    left: 10px;
    width: 407px;
    height: 179px;
}
/* Now Playing Banner */
.now-playing-banner {
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    width: 381px;
    height: 45px;
    background-image: url("https://assets.ppy.sh/beatmaps/1075017/covers/cover.jpg");
    border-radius: 3px;
    background-size: cover;
    background-position: center;
}
/* Song Title + Difficulty */
.now-playing-title-difficulty {
    position: absolute;
    top: 57px;
    left: 16px;
    font-family: "Fredoka";
    font-weight: 600;
    width: 375px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.4em;
    color: var(--color-left);
}
.now-playing-artist {
    position: absolute;
    top: 82px;
    left: 16px;
    font-family: "Fredoka";
    font-weight: 500;
    width: 375px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.15em;
    color: var(--color-left);
}
.now-playing-stats-container {
    position: absolute;
    top: 104px;
    left: 16px;
    font-family: "Fredoka";
    font-weight: 500;
    font-size: 1.05em;
    display: flex;
    flex-wrap: wrap;
}
.now-playing-stat {
    width: 112px;
}