/* Variables */
:root {
    --team-name-horizontal-alignment: 105px;
    --star-container-horizontal-alignment: 134px;
    --color-left: #FF6A66;
    --color-right: #9cce00;
    --current-score-horizontal-alignment: 1150px;
}

/* Team Name */
.team-name {
    position: absolute;
    top: 20px;
    font-family: "Bubble Candy";
    font-size: 4.5em;
    letter-spacing: -1px;
}
.team-name-left {
    left: var(--team-name-horizontal-alignment);
    color: var(--color-left);
}
.team-name-right { 
    right: var(--team-name-horizontal-alignment);
    color: var(--color-right);
}

/* Star Container */
.star-container {
    position: absolute;
    top: 95px;
    display: flex;
    gap: 22px;
}
.star-container-left { left: var(--star-container-horizontal-alignment); }
.star-container-right { 
    right: var(--star-container-horizontal-alignment);
    flex-direction: row-reverse;
}
.star {
    width: 43px;
    height: 41px;
}

/* Current Score */
.score {
    opacity: 1;
    transition: 500ms ease-in-out;
}
.current-score {
    position: absolute;
    font-family: "Fredoka";
    font-weight: 700;
    bottom: 115px;
    font-variant-numeric: tabular-nums;
    font-size: 4em;
}
.current-score-left { 
    right: var(--current-score-horizontal-alignment);
    color: var(--color-left);
}
.current-score-right { 
    left: var(--current-score-horizontal-alignment);
    color: var(--color-right);
}
/* Scorebar */
.scorebar-line {
    position: absolute;
    bottom: 151px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 10px;
    background-color: #DB9E67;
}
.scorebar-star {
    position: absolute;
    bottom: 135px;
    left: 960px;
    transform: translateX(-50%);
    transition: 200ms ease-in-out;
}
/* Scorebar */
.current-score-difference {
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Fredoka";
    font-weight: 600;
    font-size: 2.5em;
}

/* Now Playing */
#now-playing {
    width: 1920px;
    height: 1080px;
    background-color: transparent;
    overflow: hidden;
    border: none;
}