/* Fonts */
@font-face {
    font-family: "Bubble Candy";
    font-weight: 400;
    src: url("../fonts/BubbleCandy-Regular.otf")
}

/* Whole Page */
video, .main, #now-playing, #chat-display-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
}

/* Team Star Wrapper */
.team-star-wrapper {
    position: relative;
    width: 39px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Now Playing */
#now-playing, #chat-display-container {
    width: 1920px;
    height: 1080px;
    background-color: transparent;
    overflow: hidden;
    border: none;
    opacity: 1;
    transition: 500ms ease-in-out;
}